.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  height: 300px;
  margin: 10px;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  height: 300px;
  margin: 10px;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  height: 300px;
  margin: 10px;
}

/* Write your code here. */
.show_more_button {
  color: #326a9d;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #326a9d;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
}

.headerCss {
  color: #326a9d;
}
